body {
    background-color: #f3ede9; 
    color: #3c3c3c; 
}

/* Show Pages */
.show {
    text-align: center;
    font-weight: bold;
    border: 5px solid black;
    font-size: 70px;
    margin: auto;
    padding: 15px;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.show-album-image {
    width: 800px;
    height: 700px;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.show-album-information {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    column-gap: 40px;

}

.show-album-information li {
    margin-bottom: 25px;
}

/* Edit Pages */
.edit {
    text-align: center;
    font-weight: bold;
    border: 5px solid black;
    font-size: 70px;
    margin: auto;
    padding: 15px;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-cta-container {
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#ownership {
    font-size: 40px;
    text-decoration: underline;
}

.medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 30px;
}

.medium-checkbox {
    margin-right: 100px;
    padding: 20px;

}

.medium-confirmation {
    text-decoration: underline;
}

/* CHECKBOXES */
input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 0px; /* The real checkbox is behind */
    height: 0px; /* The real checkbox is behind */
  }
  
  input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border: 4px solid #FFD700;
    border-radius: 20px;
    background-color: #663300;  
    transition: all 0.2s linear;
  }
  
  
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border: 4px solid #FFD700;
    border-radius: 50%;
    background-color: #663300;
  }
  
  
  input[type=checkbox]:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border: solid #FFCB9A;
    border-width: 0 0px 0px 0;
    position: absolute;
    top: 0px;
    left: 50px;
    transition: all 0.2s linear;
  }
  
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 12px;
    height: 21px;
    border: solid #FFCB9A;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 14px;
  }

/* INPUT SUBMIT */
input[type="submit"] {
    background-color: #6b5e4d; 
    color: #fff; 
    padding: 8px 15px;
    border: 4px solid rgb(3, 112, 3);
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #9d5e12; 
}

/* INDEX */
.index {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin: auto;
    padding: 15px;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #704f2b; /* Dark orange border for index */
    background-color: #e0d8cd; /* Light brown background for index */
    color: #704f2b;
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-color: #6b5e4d;
}

.navigation a {
    font-size: 20px;
    border: 1px solid rgb(152, 155, 117);
    text-align: center;
    padding: 10px;
    flex: 2;
    background-color: gray;
    border-radius: 1px;
    text-decoration: none;
    background-color: #9d5e12; /* Dark orange for navigation links */
    color: #fff;
}

.navigation a:hover {
    background-color: #704f2b; /* Slightly darker orange on hover */
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #f3ede9; 

}

.album {
    text-align: center;
}

li {
    list-style: none;
}

.index-album-image {
    display: block;
    text-decoration: none;
}

.index-album-image img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #3c3c3c;
}

.index-album-image img:hover {
    transform: scale(1.5);
}
/* NEW PAGE */
.new {
    text-align: center;
    font-weight: bold;
    border: 5px solid black;
    font-size: 70px;
    margin: auto;
    padding: 15px;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LANDING */

.welcome {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin: auto;
    padding: 15px;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-instructions {
    display: flex;
    justify-content: space-around;
    border: 3px solid orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.navigation a {
    font-size: 20px;
    border: 1px solid rgb(152, 155, 117);
    text-align: center;
    padding: 10px;
    flex: 2;
    background-color: gray;
    border-radius: 1px;
    text-decoration: none;
    background-color: #9d5e12; /* Dark orange for navigation links */
    color: #fff;
}

@media screen {

    .show,
    .edit,
    .new,
    .welcome {
        text-align: center;
        font-weight: bold;
        border: 5px solid black;
        font-size: 40px;
        margin: auto;
        padding: 8px;
        max-width: 80%;
        max-width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .show {
        font-size: 20px;
    }

    .about-album {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .show-album-image {
        justify-content: center;
        display: flex;
        margin: auto;
        font-size: 20px;
    }
}