<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <h1>This is the landing page</h1>

        <div>
            <a href="/owned"><button>Owned Collection</button></a>
            <a href="/wanted"><button>Wanted Collection</button></a>
        </div>
<div>
<h3>1. Welcome to your online Media cabinet! This is a place to store your both albums you own and albums on your wanted list.</h3>
<h3>2. By clicking into either "Owned Collection" or "Wanted Collection", it will show you details of your current collection. You may browse further in by clicking the album's image</h3>
<h3>You may edit your Owned or Wanted media within the display page. Please note, "<span>&#10003;</span>", means "Yes, I have 'X'". Happy collecting!</h3>
</div>
        <%- include("../partials/footer.ejs") %>
</body>
</html>