<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <h1 class="welcome">Your Digital Media Cabinet</h1>

        <div class="navigation">
            <a href="/owned">Owned Collection</a>
            <a href="/owned/new">Make a New Owned Album</a>
            <a href="/wanted">Wanted Collection</a>
            <a href="/wanted/new">Make a New Wanted Album</a>
        </div>
<div class="welcome-instructions">
<h3>1. Use this space to organize both the albums you already own and the ones you want to acquire.</h3>
<hr>
<h3>2. Navigate into either "Owned Collection" or "Wanted Collection" to view details of your respective collections. Click on the album's image for more information.</h3>
<hr>
<h3>3. Edit your Owned or Wanted media on the display page. Note: "<span>&#10003;</span>", indicates "Yes, I have this". Enjoy your collecting experience!</h3>
</div>
        
</body>
</html>