<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>

    <h1>Add to your Wanted Collection</h1>

    <form action="/wanted" method="post">
        Artist: <input type="text" name="artist"><br>
        Album Title: <input type="text" name="album[name]"><br>
        Album's Image: <input type="text" name="album.img"><br>
        Album Release date: <input type="date" name="album.releaseDate"><br>
        Album's Record Label: <input type="text" name="album.recordLabel"><br>
        Album Genre: <input type="text" name="album.genre"><br>
        Album Duration: <input type="number" name="album.duration"><br>
        Your rating(1-5) <input type="number" name="album.rating"><br>
        Language of Album: <input type="text" name="album.language"><br>
        Do you own it(Click box for yes)?: <input type="checkbox" name="album.owned" value="true"><br>
        Medium you own: <br>
        CD(Click box for yes): <input type="checkbox" name="album.medium.cd" value="true"><br> 
        Vinyl(Click box for yes): <input type="checkbox" name="album.medium.vinyl" value="true"><br>   
        Cassette(Click box for yes): <input type="checkbox" name="album.medium.cassette" value="true"><br>    
        Country of origin: <input type="text" name="countryOrigin"><br>
    <input type="submit" value="Add your wanted Album">

</body>
</html>